<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ block "title" . }}{{ if .Title }}{{ .Title }} | {{ end }}{{end }}{{ .Site.Title }}</title>
    <meta name="description" content="{{ .Params.description }}">
    <meta name="keywords" content="{{  .Params.keywords }}">
    <meta name="author" content="{{  .Params.author }}">
    {{ template "_internal/opengraph.html" . }}
    {{- partial "vitalcss.html" -}}
    {{- partial "latercss.html" -}}
    {{- partial "favicons.html" . -}}
    {{- partial "netlify-identity.html" . -}}
</head>
