@mixin generateContainerAndEdgeClasses(
  $containerMaxWidth,
  $edge,
  $includeContainerPull: false
) {
  .p-edge {
    padding: $edge;
  }
  .px-edge {
    @include px($edge);
  }
  .container {
    @include mx(auto);
    @include px($edge);
    box-sizing: content-box;
    max-width: $containerMaxWidth;
  }
  @if ($includeContainerPull) {
    .containerPull {
      &-left {
        margin-left: $edge * -1;
        @media screen and (min-width: #{$containerMaxWidth}) {
          margin-left: calc(#{$containerMaxWidth}/ 2 - 50vw);
        }
      }
      &-right {
        margin-right: $edge * -1;
        @media screen and (min-width: #{$containerMaxWidth}) {
          margin-right: calc(#{$containerMaxWidth}/ 2 - 50vw);
        }
      }
      &-both {
        @include mx($edge * -1);
        @media screen and (min-width: $containerMaxWidth) {
          margin: 0 calc(#{$containerMaxWidth}/ 2 - 50vw);
        }
      }
    }
  }
}
