.btn-on {
    background: lighten(color(primary), 0.2);
}
.btn-off {
    background: color(primary);
}
.btn-base {
    border: 2px solid transparent;
    padding: 1rem 1rem;
    display: inline-block;
    border-radius: 0.5rem;
    text-decoration: none;
    max-width: 100%;
    @include respond(sm) {
        padding: 1rem 2rem;
    }
}
.btn {
    @extend .btn-base;
    @extend .btn-off;
    &:hover, &:focus {
        @extend .btn-on;
    }
}
.textInput {
    @extend .btn-base;
    background: #fff;
    color: default;
}