.flex {
    display: flex;
}
.flex-1 {
    flex: 1 1 0;
}
.direction {
    &-column {
        flex-direction: column;
    }
}
.align {
    &-start {
        align-items: flex-start;
    }
    &-center {
        align-items: center;
    }
    &-end {
        align-items: flex-end;
    }
}
.justify {
    &-start {
        justify-content: flex-start;
    }
    &-center {
        justify-content: center;
    }
    &-end {
        justify-content: flex-end;
    }
}

.row-reverse-sm {
     @media screen and (max-width: var(--sm)) {
        flex-direction: row-reverse;
    }
}
