.flex {
    display: flex;
}
.flex-1 {
    flex: 1 1 0;
}
.direction-column {
    flex-direction: column;
}
.align {
    &-start {
        align-items: flex-start;
    }
    &-center {
        align-items: center;
    }
    &-end {
        align-items: flex-end;
    }
}
.justify {
    &-start {
        justify-content: flex-start;
    }
    &-center {
        justify-content: center;
    }
    &-between {
        justify-content: space-between;
    }
    &-end {
        justify-content: flex-end;
    }
}

.sm-row-reverse {
    @media screen and (min-width: var(--sm)) {
        flex-direction: row-reverse;
    }
}
