@mixin tabStyles($borderwidth, $borderColor, $bgColor) {
  border-bottom: $borderwidth solid $borderColor;
  
  ul {
      @include space-x(0.5rem);
      @include respond(xs) {
        margin: 0 0.5rem;
      }
      @include respond(sm) {
        @include space-x(2rem);     
    }
    > li {
        margin-bottom: $borderwidth * -1;
        border-bottom: $borderwidth solid $borderColor;
           
        > a {
            
            border: $borderwidth solid rgba($borderColor, 0.5);
            // border: $borderwidth solid rgba($borderColor, 0.1);
    
            border-bottom-width: 0;
          color: $borderColor;
          font-weight: bold;
          background-color: $bgColor;
          padding: 0;
          margin: 0;
          padding: 1rem;
          @include respond(xs) {
              padding: 0.5rem;
              font-size: 1rem;
          }
          > span.block {
            // border-bottom: $borderwidth solid $borderColor;
          }
        }
        &.active {
            border-bottom: 0;
          > a {
            border-color: $borderColor;
            opacity: 1;
            > span {
                border-bottom: $borderwidth solid $bgColor;
            }
          }
        }
      }
  }
}
