@mixin tabStyles($borderwidth, $borderColor, $bgColor) {
  border-bottom: $borderwidth solid $borderColor;

  ul {
    > li {
      margin-bottom: $borderwidth * -1;
      border-bottom: $borderwidth solid $borderColor;
      > a {
        border: $borderwidth solid rgba($borderColor, 0.5);
        border-bottom-width: 0;
        color: $borderColor;
        background-color: $bgColor;
        padding: 0;
        margin: 0;
      }
      &.active {
        border-bottom: 0;
        > a {
          border-color: $borderColor;
          opacity: 1;
          > span {
            border-bottom: $borderwidth solid $bgColor;
          }
        }
      }
    }
  }
}

// nav.tabs {
//   @include tabStyles(2px, black, red);
// }
