body {
    font-size: 1.5rem;
    line-height: 1.5;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem
}
h4 {
    font-size: 1.5rem;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul {
    list-style-type: disc;
}
ol {
    list-style-type: decimal;
}

.prose > *:first-child {
    margin-top: 0;
}

