body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}
table {
  border-collapse: collapse;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}
