body {
    font-size: 1.2rem;
}

@media screen and (min-width: 600px) {
    body {
       font-size: 1.4rem;
    }
}
@media screen and (min-width: 1200px) {
    body {
       font-size: 1.8rem;
    }
}

h1 {
    font-size: 3.5rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.5rem;
}
h4 {
    font-size: 2rem;
}
h5 {
    font-size: 1.5rem;
}
h6 {
    font-size: 1.25rem;
}
.tc {
    text-align: center;
}