$properties: (
  ('', 'display', ''),
);

$options: (
  inline-block: inline-block,
  flex: flex,
  grid: grid,
  none: none,
  block: block
);

@include generateUtilityClasses($properties, $options, true);


