$positionOptions: (
  'static',
  'relative',
  'absolute',
  'fixed',
  'sticky'
);

@each $positionOption in $positionOptions {
  .#{$positionOption} {
    position: #{$positionOption};
  }
}


$directions: (
  'top',
  'right',
  'bottom',
  'left',
);
$positions: (
  0,
  50,
  100
);

@each $position in $positions {
  @each $direction in $directions {
    .#{$direction}-#{$position} {
      #{$direction}: #{$position};
    }
  }
}