$properties: (
  ('', 'position', ''),
);

$options: (
  static: static,
  relative: relative,
  absolute: absolute,
  fixed: fixed,
  sticky: sticky
);

@include generateUtilityClasses($properties, $options, false);